body {
  height: 3000px;
}
#Home {
  padding-top: 2rem;
  background-color: #e2edff;
}

#mygalery {
  background-color: #e2edff;
}

#tools img {
  width: 15%;
  margin-right: 25px;
  margin-top: 25px;
}
